{% extends 'layout/base_connections.html' %}    
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
    <link rel="icon" type="image/png" href="media/others/BANDMATELOGOV2.png"/>
    <style>

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #map-container {
            width: 80%; 
            height: 80%;
            margin-left: 20%;
            overflow: auto; 
            border: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <div id="map-container">
        {{ map_html|safe }}
    </div>
</body>
</html>

{% endblock %}
